<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.jigyasa.servlet.HelloWorld</servlet-class>
  </servlet>
  <context-param>
    <param-name>max-cart-size</param-name>
    <param-value>99 </param-value>
  </context-param>
  <context-param>
    <param-name>Project-lead-name</param-name>
    <param-value>Jigyasa yadav </param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>formServlet</display-name>
    <servlet-name>formServlet</servlet-name>
    <servlet-class>com.jigyasa.servlet.formServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formServlet</servlet-name>
    <url-pattern>/formServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigureServlet</display-name>
    <servlet-name>ConfigureServlet</servlet-name>
    <servlet-class>com.jigyasa.servlet.ConfigureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigureServlet</servlet-name>
    <url-pattern>/ConfigureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.jigyasa.servlet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletStudent</display-name>
    <servlet-name>ServletStudent</servlet-name>
    <servlet-class>com.jigyasa.servlet.ServletStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStudent</servlet-name>
    <url-pattern>/ServletStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MVCDemoss</display-name>
    <servlet-name>MVCDemoss</servlet-name>
    <servlet-class>com.jigyasa.servlet.MVCDemoss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCDemoss</servlet-name>
    <url-pattern>/MVCDemoss</url-pattern>
  </servlet-mapping>
</web-app>